@media all and (max-width: 1170px) {


}

/* Untuk Tablet */
@media all and (max-width: 1000px) {

  /* Bagian Profile*/
  .card {
    width: 30%;
  }
  
  .card .about {  
    text-align: left;
    color: #34495e;
    font-weight: 400px;
    font-size: 13px;
  }
}


/* Untuk Smartphone */
@media all and (max-width: 670px) {

  /* Bagian Banner */

  .top-wrapper h1 {
    font-size: 23px;
  }

  .top-wrapper h2 {
    font-size: 15px;
  }
  
  
  /* Bagian Profile*/

  .profile-wrapper h2 {
    margin: 0 25%; 
  }

  .card {
    width: 100%;
  }


}
