body {
	margin: 0;
	font-family: "Lucida Grande";
}

a {
	text-decoration: none;
}

/* Bagian Banner */

.top-wrapper {
	padding: 100px 0 100px 0;
	background-image: url(img/arnold-francisca-nPhl2x4fk2s-unsplash.jpg);
	background-size: cover;
	color: white;
	text-align: center;
}

.top-wrapper h1 {
	font-size: 45px;
	letter-spacing: 3px;
	margin-bottom: 15px;
	text-shadow: 2px 2px 4px #000;
}

.btn-wrapper {
	position: static;
	padding: 20px;
	margin-top: 60px;
}

.btn-github {
	width: 140px;
	height: 40px;
	padding: 8px 12px;
	font-size: 18px;
	font-family: sans-serif;
	text-decoration: none;
	color: #fff;
	border: 2px solid #fff;
	letter-spacing: 2px;
	text-align: center;
	position: relative;
	transition: all .35s;
}

.btn-github span {
	position: relative;
	z-index: 2;
}

.btn-github:after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: #fff;
	transition: all .35s;
}

.btn-github:hover {
	color: #34495e;
}

.btn-github:hover:after {
	width: 100%;
}

.fab {
	margin-right: 5px;
}


/* Bagian Profile Team */

.profile-wrapper {
	background-color: #ecf0f1;
	padding: 30px 0;
	color: #2d3436;
	text-align: center;
}

.profile-wrapper h2 {
	color: #34495e;
	padding-bottom: 10px;
	border-bottom: 3px solid #34495e;
	margin: 0 35%; 
}

.profile-container {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	margin-top: 60px;
}

.card,
.card .img-area {
	background: #ecf0f1;
	box-shadow: -2px -2px 7px #ffffff,
	        	2px 2px 5px #ceced1;
}

.card {
	position: relative;
	width: 20%;
	margin: 20px 20px;
	padding: 30px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	flex-direction: column;
	float: left;
}

.card .img-area {
	height: 180px;
	width: 180px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.img-area .inner-area {
	height: calc(100% - 15px);
	width: calc(100% - 15px);
	border-radius: 50%;
}

.inner-area img {
	height: 100%;
	width: 100%;
	border-radius: 50%;
	object-fit: cover;
}

.card .name {
	font-size: 22px;
	font-weight: 500;
	color: #2c3e50;
	margin: 20px 0 25px 0;
}


.card .about {	
	text-align: left;
	color: #34495e;
	font-weight: 400px;
	font-size: 15px;
}

.about-icon {
	text-align: center;
}

/* Bagian Program Partner */

.partner-wrapper {
	background-color: #fff;
	padding: 30px 0;
}

.partner-wrapper h2 {
	color: #34495e;
	border-bottom: 3px solid #34495e;
	padding-bottom: 10px;
	margin: 0 35%;
	text-align: center;
}

.partner-wrapper .logo-progate {
	width: 150px;
	margin: 60px 0 30px;
}

.partner-container {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	text-align: center;
	padding: 0 10px
}

.partner-container img {
	width: 120px;
}

.logos {
	margin: 15px;
}

.logos p {
	font-size: 10px;
	color: #b3aeb5;
}


/* Bagian Footer */

footer {
	padding: 30px 25px 20px;
	background-color: #34495e;
	box-shadow: 1px 0 2px 2px rgba(0,0,0,0.75);
}

footer img {
	width: 100px;
}

footer p {
	color: #b3aeb5;
	font-size: 12px;
}
