body {
	margin: 0;
	font-family: "Lucida Grande";
}

a {
	text-decoration: none;
}



/* Bagian Profile Team */

.profile-wrapper {
	background-color: #ecf0f1;
	padding: 30px 0;
	color: #2d3436;
	text-align: center;
}

.profile-wrapper h2 {
	color: #34495e;
	padding-bottom: 10px;
	border-bottom: 3px solid #34495e;
	margin: 0 35%; 
}

.profile-container {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
}

.card,
.card .img-area {
	background: #ecf0f1;
	box-shadow: -2px -2px 7px #ffffff,
	        	2px 2px 5px #ceced1;
}

.card {
	position: relative;
	width: 20%;
	margin: 20px 20px;
	padding: 30px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	flex-direction: column;
	float: left;
}

.card .img-area {
	height: 180px;
	width: 180px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.img-area .inner-area {
	height: calc(100% - 15px);
	width: calc(100% - 15px);
	border-radius: 50%;
}

.inner-area img {
	height: 100%;
	width: 100%;
	border-radius: 50%;
	object-fit: cover;
}

.card .name {
	font-size: 22px;
	font-weight: 500;
	color: #2c3e50;
	margin: 20px 0 25px 0;
}


.card .about {	
	text-align: left;
	color: #34495e;
	font-weight: 400px;
	font-size: 15px;
}

.about-icon {
	text-align: center;
}
